<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Hide empty sections // Should the template section be hidden entirely if all of the fields within it are hidden -->
      <setting name="Extensions.HideFields.HideEmptySections" value="true" />
    </settings>
    <pipelines>
      <getContentEditorFields>
        <processor patch:after="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetExplicitFields, Sitecore.Client']" type="Helixbase.Extensions.HideFields.Pipelines.TrimHiddenFields, Helixbase.Extensions.HideFields" resolve="true" />
      </getContentEditorFields>
    </pipelines>
  </sitecore>
</configuration>
